html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f1157d;
}

.container {
    font-family: 'Poppins', sans-serif;
    background-color: #f1157d;
    text-align: center;
    align-items: center;
    padding: 15px 20px;
}

.text-section {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 200px;
    height: auto;
}

h1 {
    font-size: 9vw;
    white-space: nowrap;
    color: #ffffff;
    margin: 0;
    font-weight: 700;
}

h2 {
    font-size: 1.4em;
    color: #ffffff;
    margin-top: 5px;
    font-weight: 600;
    font-style: normal;
}

/* Adjustments for larger screens */
@media (min-width: 768px) {
    .container {
        margin-top: -20px;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 1.5vw;
    }
}
